/* HEADER */



nav img {
    height: 65px;
}


nav li {
    font-size: 20px;
} 

h1 {
    font-size: 20px;
}

#nature {
    font-size: 18px;
}

/*SECTION HEBERGEMENTS*/
#hebergements {
    flex-direction: column-reverse;
    margin: 0;
}

/*LES PLUS POPULAIRES*/

/*div populaire en ligne*/

#divpopulaire {
    display: flex;
}

#populaires {
    width: 100%;
    margin: 0;
    border-radius: 0;

}

#titreh2populaire {
    font-size: 20px;
    margin: 0 3% 0 2%;
    justify-content: space-between;
}

#titreh2populaireseul {
    margin: 20px;
}

.carte2 {
    width: 30%;
    height: 230px;
    margin: 2% 3%;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
}

.imagecartepopulaire {
    width: 96%;
    height: 55%;
    min-height: 55%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    margin: 0;
    object-fit: cover;
    max-width: 100%;

}

.titrecartepopulaire {
    font-size: 15px;

}

/*marges etoiles populaires*/
.etoilespopulaires {
    margin-top: 0px;

}

.prixpopulaire {
    margin-bottom: 5px;

}


/*HEBERGEMENTS A MARSEILLE*/

#hebergementsmarseille {
    width: 100%;
    margin: 0;
    background-color: white;

}

#hebergementhaut {
    justify-content: center;
}

#titreh2hebergement {
    font-size: 30px;
    margin-bottom: 3%;

}

#plus {
    font-size: 25px;
    margin-left: 1%;
}

/*ACTIVITES A MARSEILLE*/
#activitesmarseille {
    flex-direction: column;
}


#activité1tablette {
    display: flex;
    width: 100%;
    margin-top: 2%;

}

#activité2tablette {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 5%;
}

#titreactivitesmarseille {
    font-size: 30px;
}


/*FOOTER*/

#footer {
    width: 90%;
    justify-content: space-between;
}

footer h2 {
    font-size: 20px;
}

.footerli {
    font-size: 17px;
}